.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card {
  width: 20vw; /* Utiliza el 20% del ancho de la ventana */
  height: 20vw; /* Utiliza el 20% del ancho de la ventana */
  max-width: 200px; /* Establece un máximo de 200px para la anchura */
  max-height: 200px; /* Establece un máximo de 200px para la altura */
  background-color: #e0112d;
  cursor: pointer;
  z-index: 1;
  margin-bottom: 2vw;
  border: none;
  margin: 1vw;
 
}

.image-card {
  background-color: transparent;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.margin-left {
  margin-left: 10px;
}

.square {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  color: white;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  width: 100%;
  margin: 2rem auto;
}

@media screen and (min-width: 1024px) {
  .square {
    width: 25%;
  }
}

.square > div {
  width: 100%;
}

.card > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 0.5rem;
  cursor: pointer;
}
.stats {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
}

.stats > p {
  margin: 0;
  padding: 0;
  display: inline-block;
  color: #282c34;
  border: #f5ba00 0.25rem solid;
  border-radius: 0.25rem;
  font-weight: bold;
}

.restart-button {
  width: 6rem;
  height: 2rem;
  border-radius: 0.25rem;
  background-color: #f5ba00;
  color: #282c34;
  border: none;
  cursor: pointer;
  font-weight: bold;
  text-decoration: none;
}

.nav-brilla {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5ba00;
  width: 100%;
  height: 8rem;
  padding: 0.5rem;
  text-align: center;
}

.nav-brilla > img {
  margin-left: 2rem;
  margin-right: 2rem;
}

.logo-nav-bar {
  background-color: #e0112d;
  border-radius: 50%;
  width: 8rem;
  height: 100%;
}

.card > img:hover {
  opacity: 0.5;
}

.card > button:hover {
  opacity: 0.5;
}

.restart-button:hover {
  opacity: 0.5;
}

.play-button {
  border: none;
  margin: 0 auto;
  cursor: pointer;
  padding: 1rem;
  background-color: #f5ba00;
  color: #282c34;
  border-radius: 0.25rem;
  font-weight: bold;
  text-decoration: none;
  z-index: 200000 !important;
}

.play-button:hover {
  opacity: 0.5;
}

.hero-image, .complete-page {
  /*background-image: url("../public/images/brilla.jpg");*/
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-color: #ffe01f
  ;
}

.corner{
  position: absolute;
  bottom: 0;
  right: 0;
  width: 250px;
  height: 250px;
}

.btn-pago {
  width: 50%;
  margin-bottom: 0;
  margin-top: 0;
}


.hero-image-opacity,
.complete-page-opacity {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero-image-title,
.complete-page-title {
  color: #282c34;
  font-size: 7.5vw;
  margin-bottom: 1rem;
  margin-top: 0;
}
